
.app {
    margin-left: 30%;
    align-items: baseline;
    position: absolute;
    display: grid;
    justify-content: space-between;
    width: 100%;
}

#create-post-button {
    position: absolute;
    top: 65px;
    left: 238px;
    width: 80px;
    cursor: pointer;
}